.row-container {
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
}

.box-1 {
  background-color: #7dd9e7;
}

.box-3 {
  background-color: #ef476f;
}

.box-5 {
  background-color: #ffd166;
}

.row-container > div {
  padding: 1.5em;
  width: 15vw;
  height: 10vh;
  text-align: center;
}
