.row-container {
  border: 8px solid rgb(86, 228, 100);
  margin: 1em;
  padding: 0.5em;
  display: flex;

  flex-direction: row;
  justify-content: space-around;
}

.row-container > div {
  padding: 1.5em;
}

.box-1 {
  background-color: #7dd9e7;
}

.box-3 {
  background-color: #ef476f;
}

.box-5 {
  background-color: #ffd166;
}
